<div class="container col-md-6">
<h1 style="color: black;">Login</h1>
<form name="loginForm" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" ngModel name="username" placeholder="Enter Username" required>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" ngModel name="password" placeholder="Enter password" required>
    </div>
    <button [disabled]=loginForm.invalid type="submit" class="btn btn-primary">Login</button>
</form>
</div>
