@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
body{
    margin-top:20px;
    background: #f5f5f5;
}
.card {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    margin-bottom: 30px;
}
.w-60 {
    width: 60px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    font-weight: 600;
}
.social-links li a {
    -webkit-border-radius: 50%;
    background-color: rgba(89,206,181,.85);
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    font-size: 12px;
}
a {
    color: lightgoldenrodyellow;
}
table{
    width: 1000px
}
*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: grid;
    place-items: center;
}

.app-paper{
    max-width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 12 px -6px #fff;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

.app-paper::before{
    content: '';
    position: absolute;
    bottom: -50px;
    left: 5%;
    width: 90%;
    height: 30px;
    background: gray;
    border-radius: 50%;
    filter: blur(10px);
}

.paper-title{
    margin-bottom: 20px;
    font-size: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid black; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hidebx{
    display: none;
}

.app-paper form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
} 

.a{
    text-align: center;
    box-shadow: 0px 4px 12px -4px black;
    padding: 20px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all 0.3s ease-in;
    border-radius: 10px;
}

.display-box .user{
    font-weight: 600;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type=b]:checked + .a{
    border-color: red;
}

.button {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

