<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

</head>

<body>
    <section class="container">
        <div class="app-paper">
            <div class="paper-title">Anjoli Academic Management System</div>
            <form acion="">

                <!-- Student Login Page -->
                <input type="b" name="login" id="1" class="hidebx">
                <label for="1" class="a">
                    <div class="display-box">
                        <div class="user">
                            <button class="button" type="button" onclick="window.location.href='/student-login'">Student
                                Login</button>
                        </div>
                    </div>
                </label>

                <!-- Teacher Login Page -->
                <input type="b" name="login" id="1" class="hidebx">
                <label for="1" class="a">
                    <div class="display-box">
                        <div class="user">
                            <button class="button" type="button" onclick="window.location.href='/teacher-login'">Teacher
                                Login</button>
                        </div>
                    </div>
                </label>
                <!-- Student Register Page -->
                <input type="b" name="login" id="1" class="hidebx">
                <label for="1" class="a">
                    <div class="display-box">
                        <div class="user">
                            <button class="button" type="button"
                                onclick="window.location.href='/register-student'">Register Student</button>
                        </div>
                    </div>
                </label>
                <!-- Teacher Register Page -->
                <input type="b" name="login" id="1" class="hidebx">
                <label for="1" class="a">
                    <div class="display-box">
                        <div class="user">
                            <button class="button" type="button"
                                onclick="window.location.href='/register-teacher'">Register Teacher</button>
                        </div>
                    </div>
                </label>



            </form>
        </div>
    </section>
</body>

</html>