<nav *ngIf="teacherLoggedIn" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navstyle" style="color: honeydew"> Anjoli Academic Management System | </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor2"
     aria-controls="navbarColor2" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor2">
     <ul class="navbar-nav mr-auto">
        <li class="navbar-item">
           <a class="navbar-link" type="button" style="color: honeydew; margin: 0px 30px"
              onclick="window.location.href='/teacher-home'">Teacher Home</a>
        </li>
        <li class="navbar-item">
           <a class="navbar-link" type="button" style="color: honeydew; margin: 0px 30px"
           onclick="window.location.href='/edit-teacher'">Update Personal Info</a>
        </li>
        <li class="navbar-item">
           <a class="navbar-link" type="button" style="color: honeydew; margin: 0px 30px" onclick="window.location.href='/view-attendance'"
              >Review Student Attendance</a>
        </li>
        <li class="navbar-item">
           <!-- <a class="navbar-link" type="button" style="color: honeydew; margin: 0px 30px" (click)="updateTeacher()">Update Personal Info</a> -->
        </li>
        <li class="navbar-item">
           <a class="navbar-link" type="button" style="color: honeydew" (click)="logout()">Logout</a>
        </li>
     </ul>
  </div>
</nav>

<nav *ngIf="!teacherLoggedIn" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h5 class="navstyle" style="color: honeydew"> Anjoli Academic Management System | </h5>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor2"
     aria-controls="navbarColor2" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor2">
  </div>
</nav>
<body>
  <div class="overall">
    <h1>Register Student</h1>
    <form name="addForm" #addForm="ngForm" (ngSubmit)="onAddStudent(addForm)">
      <div>
        <input id="username" ngModel name="username" type="text" placeholder="Username" required>
      </div>
      <div>
      <input id="password" ngModel name="password" type="password" placeholder="Password" required>
    </div>
    <div>
      <input id="firstname" ngModel name="firstName" type="text"  placeholder="Firstname" required>
    </div>
    <div>
      <input id="lastname" ngModel name= "lastName" type="text"  placeholder="Lastname" required>
    </div>
    <div>
      <button [disabled]="addForm.invalid" type="submit" onclick="window.location.href='/homepage'"> Submit </button>
    </div>
    </form>
  </div>
</body>
