<p>Submit Attendance</p>

<body>
  <div class="overall">
    <form name="addForm" #addForm="ngForm" (ngSubmit)="submitAttendance(addForm)">

      <!-- <label for="studentName" class="control-label">Student Name</label>
      <input id="studentName" ngModel name="studentName" type="text" class="form-control" required> -->

        <label for="input" class="form-label">Were you Present or Absent</label>
      <select id="wasPresent" ngModel name="wasPresent" class="form-control" required>
        <option id= "wasPresent" ngModel name="wasPresent" value="">Make a Selection</option>
        <option id="wasPresent" ngModel name="wasPresent" value="True">Present</option>
        <option id="wasPresent" ngModel name="wasPresent" value="True">Absent</option>
      </select>

      <label for="input" class="form-label">Excuse</label>
      <textarea cols="5" rows="5" type="text" class="form-control" id="excuse" ngModel name="excuse"
        placeholder="Enter Excuse" required></textarea>
      <button [disabled]="addForm.invalid" type="submit"> Submit </button>
    </form>
  </div>
</body>