<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navstyle" style="color: honeydew"> Anjoli Academic Management System | Teacher Homepage</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor2"
      aria-controls="navbarColor2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarColor2">
      <ul class="navbar-nav mr-auto">
         <li class="navbar-item">
            <a class="navbar-link" type="button" style="color: honeydew; margin: 0px 30px"
               onclick="window.location.href='/register-student'">Add New Student</a>
         </li>
         <li class="navbar-item">
            <a class="navbar-link" type="button" style="color: honeydew; margin: 0px 30px" onclick="window.location.href='/view-attendance'"
               >Review Student Attendance</a>
         </li>
         <li class="navbar-item">
            <!-- <a class="navbar-link" type="button" style="color: honeydew; margin: 0px 30px" (click)="updateTeacher()">Update Personal Info</a> -->
         </li>
         <li class="navbar-item">
            <a class="navbar-link" type="button" style="color: honeydew" (click)="logout()">Logout</a>
         </li>
      </ul>
   </div>
</nav>
<div class="container" id="main-container">
   <div class="row">
      <div *ngFor="let student of students" class="col-md-6 col-xl-3">
         <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-6"></div>
               <div class="col-6 card-title align-self-center mb-0">
                  <h5>{{student.firstName}} {{student.lastName}}</h5>
                  <p class="m-0">{{student.id}}</p>
                  <p class="m-0">{{student.teacher}}</p>
               </div>
            </div>
            <div class="card-body">
               <div class="float-right btn-group btn-group-sm">
                  <a (click)="onOpenModal(student, 'edit')" class="btn btn-primary tooltips" data-placement="top"
                     data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                  <a (click)="onOpenModal(student, 'delete')" class="btn btn-secondary tooltips" data-placement="top"
                     data-original-title="Delete"><i class="fa fa-times"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Add Student Modal -->
   <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="addStudentModalLabel">Add Student</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #addForm="ngForm" (ngSubmit)="onAddStudent(addForm)">
                  <div class="form-group">
                     <label for="firstName">First Name</label>
                     <input type="text" ngModel name="firstName" class="form-control" id="firstName"
                        placeholder="First Name" required>
                  </div>
                  <div class="form-group">
                     <label for="lastName">Last Name</label>
                     <input type="text" ngModel name="lastName" class="form-control" id="lastName"
                        placeholder="Last Name" required>
                  </div>
                  <div class="form-group">
                     <label for="username">Username</label>
                     <input type="text" ngModel name="username" class="form-control" id="username"
                        placeholder="Username" required>
                  </div>
                  <div class="form-group">
                     <label for="password">Password</label>
                     <input type="password" ngModel name="password" class="form-control" id="password"
                        placeholder="Password" required>
                  </div>
                  <div class="modal-footer">
                     <button type="button" id="add-employee-form" class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
                     <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>

   <!-- Edit Modal -->
   <div class="modal fade" id="updateStudentModal" tabindex="-1" role="dialog" aria-labelledby="studentEditModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="updateStudentModalLabel">Edit Student {{editStudent.firstName}}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #editForm="ngForm">
                  <div class="form-group">
                     <label for="firstName">First Name</label>
                     <input type="text" ngModel="{{editStudent.firstName}}" name="firstName" class="form-control"
                        id="firstName" aria-describedby="emailHelp" placeholder="First Name">
                  </div>
                  <div class="form-group">
                     <label for="lastName">Last Name</label>
                     <input type="text" ngModel="{{editStudent.lastName}}" name="lastName" class="form-control"
                        id="lastName" placeholder="Last Name">
                  </div>
                  <div class="form-group">
                     <label for="username">Username</label>
                     <input type="text" ngModel="{{editStudent.username}}" name="username" class="form-control"
                        id="username" placeholder="Username">
                  </div>
                  <div class="form-group">
                     <label for="password">Password</label>
                     <input type="password" ngModel="{{editStudent.password}}" name="password" class="form-control"
                        id="password" name="password" placeholder="Password">
                  </div>
                  <div class="modal-footer">
                     <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                     <button (click)="onUpdateStudent(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save
                        changes</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>

   <!-- Delete Modal -->
   <div class="modal fade" id="deleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="deleteModelLabel">Delete Student</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>Are you sure you want to delete this student {{deleteStudent.firstName}} {{deleteStudent.lastName}}?
               </p>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button (click)="onDeleteStudent(deleteStudent.id)" class="btn btn-danger"
                     data-dismiss="modal">Yes</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>