<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h5 class="navstyle" style="color: honeydew"> Anjoli Academic Management System | </h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor2"
       aria-controls="navbarColor2" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor2">
       <ul class="navbar-nav mr-auto">
          <li class="navbar-item">
             <a class="navbar-link" type="button" style="color: honeydew; margin: 0px 30px"
                onclick="window.location.href='/edit-info'">Update Info</a>
          </li>
          <li class="navbar-item">
             <a class="navbar-link" type="button" style="color: honeydew; margin: 0px 30px"
                onclick="window.location.href='/submit-attendance'">Submit Attendance</a>
          </li>
          <li class="navbar-item">
             <a class="navbar-link" type="button" style="color: honeydew; margin: 0px 30px" onclick="window.location.href='/view-attendance'"
                >Review Student Attendance</a>
          </li>
          <li class="navbar-item">
             <!-- <a class="navbar-link" type="button" style="color: honeydew; margin: 0px 30px" (click)="updateTeacher()">Update Personal Info</a> -->
          </li>
          <li class="navbar-item">
             <a class="navbar-link" type="button" style="color: honeydew" (click)="logout()">Logout</a>
          </li>
       </ul>
    </div>
 </nav>
<div class="center">
<h1>Welcome {{student.firstName}}</h1></div>
<br >

        <div class="center">
        <table style="width: 50%; border: 1%; border-style: solid; text-align: center;">
                <tr>
                    <td>
                        Firstname
                    </td>
                    <td>
                        Lastname
                    </td>
                    <td>
                        Username
                    </td>

                    <td>
                        Teacher
                    </td>
                    <td>
                        Attendance
                    </td>
                
                </tr>
                <tr>
                    <td>
                        {{student.firstName}}
                    </td>
                    <td>
                        {{student.lastName}}
                    </td>
                    <td>
                        {{student.username}}
                    </td>
                    <td>
                        {{student.teacher}}
                    </td>
                    <td> 
                        {{student.attendance}}
                    </td>
                    </tr>
            </table>
        </div>

