<div class="center">
<h1>Welcome {{student.firstName}}</h1></div>
<br >
    <div class="center">
        <input type="button" value="Edit Login Info" onclick="location.href='/edit-info'">
        <br>
        <input type="button" value="Submit Attendance" onclick="location.href='/submit-attendance'">
        <br>
        <input type="button" value="View Attendance" onclick="location.href='/view-attendance'">
        <br>
        <!-- <input type="button" value="View Grades" onclick="location.href='/grade'">
        <br> backend has not been created yet-->
        <input type="button" value="Logout" (click)="logout()">
        </div>
        <div class="center">
        <table>
                <tr>
                    <td>
                        Firstname
                    </td>
                    <td>
                        Lastname
                    </td>
                    <td>
                        Username
                    </td>

                    <td>
                        Teacher
                    </td>
                    <td>
                        Attendance
                    </td>
                
                </tr>
                <tr>
                    <td>
                        {{student.firstName}}
                    </td>
                    <td>
                        {{student.lastName}}
                    </td>
                    <td>
                        {{student.username}}
                    </td>
                    <td>
                        {{student.teacher}}
                    </td>
                    <td> 
                        {{student.attendance}}
                    </td>
                    </tr>
            </table>
        </div>

