<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h5 class="navstyle" style="color: honeydew"> Anjoli Academic Management System | </h5>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor2"
     aria-controls="navbarColor2" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor2">
  </div>
</nav>
<body>
  <div class="overall">
    <h1>Register Teacher</h1>
    <form name="addForm" #addForm="ngForm" (ngSubmit)="addTeacher(addForm)">
      <div>
        <input id="username" ngModel name="username" type="text" placeholder="Username" required>
      </div>
      <div>
      <input id="password" ngModel name="password" type="password" placeholder="Password" required>
    </div>
    <div>
      <input id="firstname" ngModel name="firstName" type="text"  placeholder="Firstname" required>
    </div>
    <div>
      <input id="lastname" ngModel name= "lastName" type="text"  placeholder="Lastname" required>
    </div>
    <div>
      <input id="role" ngModel name= "role" type="text"  placeholder="Role" required>
    </div>
    <div>
      <button [disabled]="addForm.invalid" type="submit"> Submit </button>
    </div>
    </form>
  </div>
</body>
