<p>Teacher Registeration</p>

<body>
  <div class="overall">
    <h1>Register</h1>
    <form name="addForm" #addForm="ngForm" (ngSubmit)="addTeacher(addForm)">
      <div>
        <input id="username" ngModel name="username" type="text" placeholder="Username" required>
      </div>
      <div>
      <input id="password" ngModel name="password" type="password" placeholder="Password" required>
    </div>
    <div>
      <input id="firstname" ngModel name="firstName" type="text"  placeholder="Firstname" required>
    </div>
    <div>
      <input id="lastname" ngModel name= "lastName" type="text"  placeholder="Lastname" required>
    </div>
    <div>
      <input id="role" ngModel name= "role" type="text"  placeholder="Role" required>
    </div>
    <div>
      <button [disabled]="addForm.invalid" type="submit"> Submit </button>
    </div>
    </form>
  </div>
</body>
