<!DOCTYPE html>
<html>
<head>
<title>Attendance Homepage</title>  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul>
        <li class="navbar-item">
            <a class="navbar-link" type="button" onclick="window.location.href='/teacher-home'">Home</a>
        </li>
        <li class="navbar-item">
            <a class="navbar-link" type="button" onclick="window.location.href='/register-student'">Add Student</a>
        </li>
        <li class="navbar-item">
            <a class="navbar-link" type="button" onclick="window.location.href='/register-student'">Update Personal Info</a>
        </li>
        <li class="navbar-item">
            <a class="navbar-link" type="button" (click)="logout()">Logout</a>
        </li>
    </ul>

</nav>  
</head>

<body>

</body>
</html>
